    <div class="container">
        <div class="parallax" style="background-image:url(img/img_3693.jpg)" data-stellar-background-ratio="0.2">
            <div class="main">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">I Y T</h2>
                            <h3 class="section-subheading text-muted">International Yoga Teacher</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="pregular"><b>Our marks are recognized worldwide within the yoga community - IYT is the sign of excellence!</b></p>
                    <P class="pregular">Your qualification carries the mark of excellence to show that your training has met the highest possible standards.</P>
                    <p class="pregular"><b>What do I get by registering myself as a yoga Teacher?</b></p>
                    <ul style="font-size:20px; margin-left: 30%;">
                        <li>The rights to use the logos of Yoga Alliance International </li>
                        <li>A space on our website for your advertisement (conditions apply)</li>
                        <li>Your profile as a registered International Yoga Teacher on our page</li>
                        <li>Free promotion of your classes/workshops/lectures/teachers training on our website</li>
                        <li>Help with building your career path in Yoga</li>
                        <li>Discount and Benefits from our Partners Program</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>