    <div class="container">
        <div class="parallax" style="background-image:url(img/IMG_3691.jpg)" data-stellar-background-ratio="0.2">
            <div class="main">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted">Yoga Alliance International</h3>
                    </div>
                </div>
                <div class="row">
                    <p class="pregular">Yoga Alliance International is the fastest growing community, bringing various systems, healers, meditators under one union to meet diverse needs of various interest of humanity from all over the world.</p>
                    <p class="pregular">Yoga Alliance International is an International yoga organization existing specifically to meet the needs for Yoga Institutions and Yoga Teachers worldwide.
                        Yoga Alliance International is a registered company based in Oregon, Portland and having its office in INDIA. We are the intermediary of numerous teachers and teacher training schools across the globe.  We have many yoga students visiting our site to find the best teachers and the best teacher training schools.  Our globally recognized standards give them the peace of mind that they are being taught by the best.
                    </p>
                </div>
            </div>
        </div>
    </div>