    <div class="container">
        <div class="parallax" style="background-image:url(img/img_3911.jpg)" data-stellar-background-ratio="0.2">
        <div class="main">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Do</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <p class="pregular">Yoga Alliance International certifies Teachers, Trainee Teachers, Schools and Yoga Studios of different systems, both traditional and modern and evolutionary forms. We recognize the systems and teachers to be an International Certified Schools and Yoga Teachers. </p>
            <P class="pregular"><b>Our goal</b> is to promote yoga and meditation methods worldwide, providing opportunities for our members to gain depth and insights of the yoga community.</P>
            <p class="pregular"><b>Our objective</b> is to facilitate our members in building their International Yoga Schools (IYS) as well as broaden the career opportunities for an individual who registered as International Yoga Teachers (IYT). </p>
        </div>
        </div>
        </div>
    </div>